*.log
*.err
*.pyc
*.swp
.idea/*
**/__pycache__/*
**/output/*
data/.DS_Store
docs/build
results/*
build
dist
boards/*
*.egg-info/
checkpoint
*.pth
*.ckpt
*.sh
*_cache
.cache
data
save
*.eggs
.eggs
eggs/
*.egg
.DS_Store
.vscode
.vscode/*
*.so
*-checkpoint.ipynb
exps
images
bash
scripts
.nfs*
core
test_finetune.py
*.txt
submit_finetune.py
submit_pretrain.py
submit_fh_finetune.py
output_dir
tests
wandb
train
val